{% extends "bootstrap/base.html" %}

{% block title %}DaPollution{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="static', filename='pollution.jfif') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='pollution.jfif') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

{% endblock %}

{% block navbar %}
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-fw fa-lungs"></i>
            </div>
            <div class="sidebar-brand-text mx-3">PolluShow</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Strumenti
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/grafico">
                <i class="fas fa-fw fa-chart-line"></i>
                <span>Storico</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Utente
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user', nickname=current_user.nickname) }}" class="nav-link" >
                    <img class="img-profile rounded-circle" src="{{ current_user.gravatar(size=18) }}">
                    {{ current_user.mail }}
                </a>
                <a class="nav-link" href="{{ url_for('user', nickname=current_user.nickname) }}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="nav-link" href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
                {% else %}
                <a class="nav-link" href="{{ url_for('login') }}"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"> </i>Log In</a>
                <a class="nav-link" href="{{ url_for('register') }}"> <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"> </i>Sign Up</a>
                {% endif %}
                {% if current_user.can(Permission.MODERATE) %}
                <a class="nav-link" href="{{ url_for('.moderate') }}"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Moderate Comments</a>
                {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/chart-area-demo.js"></script>
<script src="../static/js/demo/chart-pie-demo.js"></script>

{% endblock %}