alembic==1.13.1
bleach==6.1.0
blinker==1.7.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.4
dnspython==2.6.1
dominate==2.9.1
email-validator==2.1.0.post1
Faker==23.3.0
Flask==3.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Moment==1.0.5
Flask-PageDown==0.4.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
gunicorn==21.2.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
mysql-connector==2.2.9
packaging==23.2
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==2.0.27
typing_extensions==4.9.0
visitor==0.1.3
webencodings==0.5.1
Werkzeug==3.0.1
WTForms==3.1.2

folium>=0.15.1
plotly>=5.19.0
pandas>=2.2.0
mysql>=0.0.3
mysql-connector-python>=8.3.0
modules>=1.0.0
numpy>=1.26.4